@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color:; */
}
/* font-family: 'Crimson Text', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; 
font-family: 'Beau Rivage', cursive;*/
/* navbar css */
.navbar{
    font-family:'Poppins', sans-serif; 
    font-size: 20px;  
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px gray;
    --webkit-box-shadow: 0 8px 6px gray;
    border-bottom: 0px solid gray !important;
  }
  .nav-link{
    font-weight: 500 !important;
    color: #000;
  }
  .active {
    border-bottom: 2px solid black ;
  }
  .navbar-brand{
    font-weight: 900;
    /* font-family: 'roboto', sans-serif; */
    letter-spacing: 0.2px;
    /* font-size: 18px;  */
    text-transform: none;
  }
 .navbar-brand span{
    font-family:'Beau Rivage', cursive;
    font-weight:bolder;
    font-size: 28px;
    color: rgb(2, 71, 71);
  }
  /* ========= Page not found ========*/
  .pnf{
    display: flex;
    justify-content: center;  
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
  }
  .pnf-title  {
    font-size: 100px;
    font-weight: 700;
  }
  .pnf-heading {
    font-weight: normal;
  }
  .pnf-btn {
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
  }
  .pnf-btn:hover {
    background-color: #000;
    color: azure;
  }
  /* ========= Footer ======== */
  .footer{
    color: white;
    padding: 25px;
    background: #000;
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000
    ); /* chrome 10-25, safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000);
  }
  .footer a{
    text-decoration:none;
    color: aliceblue;
    padding: 10px;
  }
  .footer a:hover{
    color:#ffefba;
    border-bottom: 1px solid #ffefba;
  }
  /* ===== contactus ===== */
  .contactus{
    margin: 0;
    padding: 0;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}


/* product css */
.product-link{
  text-decoration: none !important;
  color: rgb(0, 0, 0) !important;
}
/* ==================================End Code Line======================================== */