.inner-container {
  gap: 1.5rem;
  background: #4161df;
  padding: 2rem;
  border-radius: 10px;
  border: 6px solid #5d77d6;
  text-align: center;
}
.inner-container .primaryText {
  color: white;
  font-weight: 600;
}
.g-wrapper {
  background-color: rgb(179, 171, 160);
}
.inner-container .secondaryText {
  color: rgba(255, 255, 255, 0.9);
}
.inner-container .button {
  background: #5a73d7;
  border: 2px solid white;
  box-shadow: var(--shadow);
  border-radius: 10px;
}
.inner-container .button:hover {
  background: white;
  color: #5a73d7;
  scale: 0.8;
}
.inner-container .button a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}
.inner-container .button:hover a {
  color: #5a73d7;
}
