* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
body{
    background-color: #67ece1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    height: 400px;
    width: 350px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#container i{
    color: #ffffff ;  
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;

}

/* #containeri{
    display: flex;
    padding: 20px;
    height: 400px;
    width: 350px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;

}
#containeri img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#containeri i{
    color: #ffffff ;  
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;

} */
