
/* *{
  font-family: "Montserrat", serif;
    font-family: "Playfair Display", serif;
} */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.contact-title {
  position: relative;
}
.contact-title h1 {
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}
.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.contact-section {
  display: flex;
  gap: 150px;
}
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-left h1 {
  font-size: 75px;
  font-weight: 700;
  background: linear-gradient(270deg, #dd8908 80%, #b415ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Playfair Display", serif;
}
.contact-left p {
  max-width: 550px;
  color: #d8d8d8;
  font-size: 20px;
  line-height: 35px;
  font-family: "Montserrat", serif;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #d8d8d8;
  font-size: 22px;
}
.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-right {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 30px;
}
.contact-right label {
  color: #d8d8d8;
  font-size: 22px;
  font-weight: 500;
  font-family: "Montserrat", serif;

  
}
.contact-right input {
  border: none;
  width: 700px;
  height: 78px;
  padding-left: 20px;
  border-radius: 8px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}
.contact-right textarea {
  width: 650px;
  border: none;
  padding: 25px;
  border-radius: 10px;
  color: #a0a0a0;
  background: #32323c;
  font-family: Outfit;
  font-size: 20px;
}
.contact-submit {
  border: none;
  padding: 20px 60px;
  color: white;
  font-size: 22px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5%, #b415ff 100%);
  cursor: pointer;
  /* font-family: "Roboto", serif; */
  font-family: "Montserrat", serif;

  margin-bottom: 50px;
  transition: 0.3s;

}
 
/* .contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3;
} */
