.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
    font-family: "Playfair Display", serif;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 1px;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.mywork-container img{
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.3;
    cursor: pointer;
}
.mywork-container img:hover{
    transform: scale(1.10);
    border: 5px solid #ff03d9;
    border-radius: 20px;
    transition: 0.3s;
}
.mywork-showmore{
    display: flex;
    gap: 13px;
    border:2px solid #fff ;
    border-radius:50px;
    padding: 25px 50px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 18px;
    transition: 0.6s;
  font-family: "Roboto", serif;

    cursor: pointer;
}
.mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;
    background-color: #0056b3;
}



