/* body {
  text-align: center;
  color: green;
  font-size: 1.2em;
}

.display-none {
  display: none;
}

.recording {
  color: red;
  background-color: rgb(241 211 211);
  padding: 5px;
  margin: 6px auto;
  /* width: fit-content; */
/* } */

/* video {
  background-color: black;
  display: block;
  margin: 6px auto;
  width: 420px;
  height: 240px;
}



audio {
  display: block;
  margin: 6px auto;
}

a {
  color: green;
} */ */

/* index css */
body {
  font:
    14px "Open Sans",
    "Arial",
    sans-serif;
}

video {
  margin-top: 2px;
  border: 1px solid black;
}

.button {

  
  cursor: pointer;
  display: block;
  width: 160px;
  border: 1px solid rgba(10, 10, 10, 0);
  font-size: 16px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 4px;
  color: white;
  background-color: darkgreen;
  text-decoration: none;
}

h2 {
  margin-bottom: 4px;
}

.left {
  margin-right: 10px;
  float: left;
  width: 160px;
  padding: 0px;
}

.right {
  margin-left: 10px;
  float: left;
  width: 160px;
  padding: 0px;
}

.bottom {
  clear: both;
  padding-top: 10px;
}
