.footer {
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-top-left p {
  font-size: 20px;
  max-width: 900px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.footer-top-right {
  display: flex;
  align-items: center;
  gap: 35px;
}
.footer-email-input {
  display: flex;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 50px;
  background: #323232;
  padding-right: 80px;
}
.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-family: outfit;
  font-size: 25px;
  font-weight: bold;
}
.footer-subscribe {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  padding: 22px 50px; /* Padding around the text */
  text-align: center; /* Center the text */
  font-size: 20px; /* Font size */
  border-radius: 50px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.footer-subscribe:hover {
  background-color: #45a049; /* Darker green on hover */
  transform: scale(1.1);
  transition: 0.3;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.footer-bottom-right {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}
.footer-email-input:hover {
  border: 2px solid white;
}
.footer-top-left img {
  height: 80px;
  /* width: 100px; */
}
.footer-bottom-left p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #a0a0a0;
}
.footer-bottom-right {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* .footer-subscribe {
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09 #b415ff 106.28%);
    cursor: pointer;
    transition: 0.3s;
} */
