#video-stream{
    height: 90vh;
    width: 1440px;
}
.video-container{
    height: 100%;
    border: 2px solid #000000;
}
.video-player{
    height: 100%;
    width: 100%;
}
#stream-controls{
    display: none;
}